.footer {
  background-color:powderblue; /* Dark background */
  color: #fff;
  padding: 20px 10px; /* Reduce the padding */
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px; /* Reduce space between sections */
}

.footer-section {
  flex: 1;
  padding: 10px;
}

.footer-section h3 {
  font-size: 20px; 
  margin-bottom: 10px; 
  color: #00204a;
}

.footer-section p {
  margin: 3px 0; 
  font-size: 14px; 
  color: #00204a
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px; 
}

.social-icon {
  background-color: #fff;
  color: #00204a;
  padding: 8px; 
  border-radius: 50%;
  font-size: 18px; 
  transition: background-color 0.3s ease;
}

.social-icon:hover {
  background-color: orange;
  color: #fff;
}

.footer-bottom {
  margin-top: 10px; 
}

.footer-bottom p {
  font-size: 12px;
  color: black;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }
}
